body {
  background-color: #6F6A6D;
  width: 80%;
  text-align: center;
  margin: auto;
  border-style: solid;
  border-width: 15px;
  border-color: #D20077;
  size: 100%;

}

h1 {
  margin: auto;
  color: #D20077;
  opacity: .75;
  /* border-radius pinches the ends
  border-radius: 100%; */

}

.main-text {
  border-style: solid;
  border-width: 5px;
  border-color: #E7E7E7;
  background-color: : #A5A5A5;
  text-align: center;
  width: 75%;
  margin: auto;

}

#photograph {
  position: relative;
  align-items: center;
  border-style: solid;
  border-width: 5px;
  width: 75%;
  margin: auto;
  border-color: #E7E7E7;
  background-color: #6F6A6D;

}

#photograph2 {
  position: relative;
  align-items: center;
  border-style: solid;
  border-width: 5px;
  width: 75%;
  margin: auto;
  border-color: #E7E7E7;
  background-color: #6F6A6D;

}

hr {
  width: 50%;

}

/* #wholepage {
  align-items: center;
  border-style: solid;
  border-width: 5px;
  width: 50%;
  margin: auto;
  border-color: #D20077;
  background-color: #6F6A6D;

} */

.sources {
  align-items: center;
  text-align: center;
  list-style-position: inside;
  border-style: solid;
  border-width: 5px;
  width: 75%;
  margin: auto;
  border-color: #E7E7E7;
  background-color: #6F6A6D;

}
