* {
  font-family: sans-serif;
  /* background-color: black; */
  margin: 0px;
  padding: 0px;
  /* border: 1px solid red; */
  color: white;

}

body {
  /* background-color: #ccf1ff; */
  background-image: linear-gradient(to top, #bdc3c7 , #2c3e50);


}

h1 {
  text-align: center;

}

p {
  text-align: center;

}

hr {
  background-color: #282828;

}

.contactPage {
  background-image: linear-gradient(to left, #200122 , #6f0000);

}

.aboutPage {
  background-image: linear-gradient(to right, #000428 , #004e92);

}

.threeDPage {
  background-image: linear-gradient(to right, #1e130c  , #9a8478);

}

.photographyPage {
  background-image: linear-gradient(to left, #360033 , #0b8793 );

}

.musicPage {
  background-image: linear-gradient(to left, #c21500 , #ffc500 );

}

#homePageText {
  /* width: 55%; */
  max-width: 750px;
  margin: auto;
  /* border-style: solid black 1px;
  border-radius: 15px; */

}

#contactForum {
  text-align: center;
  width: 50%;
  margin: auto;

}

.title {
  color: white;

}

.label {
  text-align: left;
  color: white;

}

.section {
  text-align: center;

}

.breadcrumb {
  background-color: black;
  color: white;
  width: 100%;

}

/* Pictures */

.imageLink {
  border-style: inset;
  padding: 0px;

}
