* {
  font-family: sans-serif;
  background-color: black;
  margin: 0px;
  padding: 0px;
  /* border: 1px solid red; */

}

h1 {
  text-align: center;

}

hr {
  background-color: #282828;

}

#homeParagraph {
  /* width: 55%; */
  max-width: 750px;
  margin: auto;

}

#contactForum {
  text-align: center;
  width: 50%;
  margin: auto;

}


.label {
  text-align: left;

}

.section {
  text-align: center;

}

/* Pictures */

.redFlower {
  float: left;
  padding-right: 25px;

}

.whiteFlower {
  float: right;
  padding-left: 25px;

}

.tree {
  margin: inherit;

}
