* {
  font-family: monospace;
  text-align: center;
  background-color: #DFE0E2;
  box-sizing: border-box;

}

hr {
  width: 35%;

}

/*Header - Nav Bar */

@media (max-width: 600px) {
  header {
    background-color: #E15634;
    position: sticky;
    margin: auto;
    width: auto;
    margin-top: 0;
    /* height: 5 em; */
    /* text-transform: uppercase; */
  }
}

@media (min-width: 600px) {
  header {
    background-color: #E15634;
    position: sticky;
    margin: auto;
    margin-top: 0;
    /* height: 5 em; */
    /* text-transform: uppercase; */
  }
}

@media (min-width: 600px) {
  p {
    font-size: 125%;

  }

}

@media (max-width: 600px) {
  p {
    font-size: 150%;

  }

}


 .menu-item {
  text-align: center;
  display: inline-block;
  padding: 25px;

}

  .menu-item a {
    color: black;
    text-decoration: none;
    width: 25%;
    padding: 25px;

  }


  #header {
    line-height: .27;
    font-family: CorUniReg, CorGarReg, serif;

  }

  /*Button*/

  #menuButton {
    font-family: CorUniBold, CorGarReg, serif;
    font-weight: bold;
    background-color: #E15634;

  }


  #menuButton:hover {
    background-color: #E63B2E;
    size: 50%

  }

  #menuButton:active {
    background-color: #AAAAAA;
    color: white;

  }

  /* RECEIEVED HELP FROM W3SCHOOLS ON DROPDOWN. LINK IS "https://www.w3schools.com/howto/howto_css_dropdown.asp" */

  #dropButton {
    font-family: CorUniBold, CorGarReg, serif;
    font-weight: bold;
    background-color: #E15634;

  }


  #dropButton:hover {
    background-color: #E63B2E;
    size: 50%

  }

  #dropButton:active {
    background-color: #AAAAAA;
    color: white;

  }

  .dropdown {
    position: relative;
    display: inline-block;
    background-color: #E63B2E;

  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #E63B2E;

  }

  .dropdown-content a {
    color: black;
    padding: 24px 32px;
    display: block;

  }

  .dropdown-content a:hover {
    background-color: inherit;

  }

  .dropdown-content a:active {
    background-color: #AAAAAA; color: white;

  }

  .dropdown:hover .dropdown-content {
    display: block;

  }

  #submitButton {
    padding: 15px;
    background-color: #E15634;
    color: black;

  }

  #submitButton:hover {
    background-color: #E63B2E;

  }

  #submitButton:active {
    background-color: #AAAAAA;
    color: white;

  }

/* Placeholder Pictures */

img {
  max-width: 100%;
  height: auto;

}

.redFlower {
  float: left;
  padding-right: 25px;

}

.whiteFlower {
  float: right;
  padding-left: 25px;

}

/* Text */

#homeParagraph {
  /* width: 55%; */
  max-width: 600px;
  margin: auto;

}

#contactForum {
  border-style: solid;
  border-width: medium;
  border-color: #071013;
  width: 40%;
  margin: auto;

}
