* {


}

h1 {
  text-align: center;

}

#homeParagraph {
  /* width: 55%; */
  max-width: 750px;
  margin: auto;

}

@media screen only (max-width: 600px;) {

  .redFlower {display: none;}

}

/* Pictures */

.redFlower {
  float: left;
  padding-right: 25px;

}

.whiteFlower {
  float: right;
  padding-left: 25px;

}

.tree {
  margin: inherit;

}
