* {
  font-family: CorGarReg, CorUniReg, serif;
  text-align: center;

}

hr {
  width: 35%;

/*Header*/

}

header {
  background-color: navy;
  position: fixed;
  margin: auto;
  width: 100%;
  margin-top: 0;
  height: 4.5em;
  text-transform: uppercase;

}

.menu-item {
  text-align: center;
  display: inline-block;
  padding: 25px;

}

.menu-item a {
  color: white;
  text-decoration: none;
  width: 25%;
  padding: 25px;

}


#header {
  line-height: .27;
  font-family: CorUniReg, CorGarReg, serif;

}

#title {
  font-size: 400%;
  font-family: CorUniReg, CorGarReg, serif;

}

#author {
  font-size: 175%;
  font-family: CorUniReg, CorGarReg, serif;

}

#date {
  font-size: 109%;

}

/*Paragraphs*/

.generaltext {
  font-weight: bolder;

}

#paragraph1 {
  text-indent: 1%;

}

p::first-line {
  color: navy;

}

p::first-letter {
  font-family: tangerine;
  font-size: 200%;

}

/*Button*/

#authorButton {
  font-family: CorUniBold, CorGarReg, serif;
  font-weight: bold;

}


#authorButton:hover {
  background-color: #07005A;
  size: 50%

}

#authorButton:active {
  background-color: azure;
  color: black;

}

#homeButton {
  font-family: CorUniBold, CorGarReg, serif;
  font-weight: bold;

}


#homeButton:hover {
  background-color: #07005A;
  size: 50%

}

#homeButton:active {
  background-color: azure;
  color: black;

}

#booksButton {
  font-family: CorUniBold, CorGarReg, serif;
  font-weight: bold;

}


#booksButton:hover {
  background-color: #07005A;
  size: 50%

}

#booksButton:active {
  background-color: azure;
  color: black;

}
